.task_wrapper {
    display: flex;
    justify-content: space-between;
}
.todo__task {
    color: grey;
    cursor: pointer;
}
.task__completed {
    text-decoration: line-through;
    color: red;
}
.task__button--color {
    background-color: #ff481f69;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}